
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import '~bootstrap/dist/css/bootstrap.css';
//@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~element-ui/lib/theme-chalk/index.css';
@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}
